{{ form_start(form) }}
<div class="flex justify-center mt-5">
    <label class="text-white mr-5">Pokémon : </label>
    {{ form_widget(form.pokemon, {'attr': {'class': 'h-8 text-white bg-neutral-800 border border-black rounded-lg w-5/12 md:w-80 pl-4 text-center text-xs m-S'}} ) }}
    </div>
    <div class="flex justify-center">
        <div class="text-xl text-white bg-sky-400 hover:bg-sky-600 rounded-lg w-60 m-5 text-center">
            <button class="btn">{{ button_label|default('Valider') }}</button>
        </div>
    </div>
{{ form_end(form) }}
