<form method="post" action="{{ path('app_teams_delete', {'id': team.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer cette team ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    <button class="bg-red-600 hover:bg-red-800 rounded-lg h-8 m-2 py-1 px-1 text-white text-12 text-center font-bold uppercase">Supprimer</button>
</form>
