{% extends 'base.html.twig' %}

{% block title %}Edit Team{% endblock %}

{% block body %}
      
<div class="main-container">
    <div class="titre-page">
        <h1 id="h1-shinydex">Edite ta team</h1>
    </div>
    {{ include('teams/_form.html.twig', {'button_label': 'Update'}) }}

    <form method="get" action="{{ path('app_teams_index') }}">
        <button class="btn">Annuler</button>
    </form>

    {{ include('teams/_delete_form.html.twig') }}
</div>
{% endblock %}
