{% extends 'base.html.twig' %}

{% block title %}New Team{% endblock %}

{% block body %}
<div class="main-container">
    <div class="titre-page">
        <h1 id="h1-shinydex">Crée ta team</h1>
    </div>
    {{ include('teams/_form.html.twig', {'button_label': 'Créer'}) }}

    <a href="{{ path('app_teams_index') }}">Annuler</a>
</div>
{% endblock %}
