<form method="post" action="{{ path('app_user_delete', {'id': user.id}) }}" onsubmit="return confirm('Êtes-vous certain de vouloir supprimer ce compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <div class="text-xl text-white bg-sky-400 hover:bg-sky-600 rounded-lg w-60 m-5 text-center">
        <button class="btn">Supprimer le compte</button>
    </div>
</form>
