{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="bg-neutral-600 rounded-lg w-11/12 md:w-5/12 mt-24 mx-auto pt-2 pb-1">
        {{ include('user/_form.html.twig', {'button_label': 'Sauvegarder'}) }}
        <div class="text-xl text-white bg-gray-400 hover:bg-gray-200 hover:text-black rounded-lg mx-5 mb-4 text-center">
            {% if is_granted("ROLE_ADMIN") and user.id != actualUserId  %}
                <a href="{{ path('app_user_gestion') }}">Annuler</a>
            {% else %}
                <a href="{{ path('app_user_index') }}">Annuler</a>
            {% endif %}
        </div>
    </div>
{% endblock %}
