{% extends 'base.html.twig' %}

{% block title %}Not Allowed !{% endblock %}

{% block body %}
<div class="bg-neutral-900 w-full h-full mt-24 text-white">
    YOUOUUUU SHAAALL NOOOT PAAAAAAAASSSSS (Restricted Area)  
</div>
{% endblock %}