{% extends 'base.html.twig' %}

{% block title %}Not Allowed !{% endblock %}

{% block body %}
<div class="mt-24">
    <img src="https://steamuserimages-a.akamaihd.net/ugc/860609586090380052/A0113A5A0B3191E96C697C34CC34F390775B37FB/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false" class=" w-full h-fulf"></img>  
</div>
{% endblock %}